<% layout('layouts/boilerplate')%>

<div class="row">
    <div class="col-6 offset-3">
        <div class="alert alert-danger" role="alert">
            <h4>Something went wrong!</h4>
            <div>err</div>
        </div>
    </div>
</div>


